In [1]:
from IPython.core.display import display, HTML
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
import helper_functions as hf
from time import time
warnings.filterwarnings('ignore')

In [2]:
bb = pd.read_csv('bureau_balance.csv').sort_values(['SK_ID_BUREAU','MONTHS_BALANCE'])
bb = pd.get_dummies(bb)
bb_aggs = bb.groupby('SK_ID_BUREAU').mean()
bb_aggs.head()

,MONTHS_BALANCE,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X
SK_ID_BUREAU,,,,,,,,,
5001709,-48.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.886598,0.113402
5001710,-41.0,0.060241,0.0,0.0,0.0,0.0,0.0,0.578313,0.361446
5001711,-1.5,0.750000,0.0,0.0,0.0,0.0,0.0,0.000000,0.250000
5001712,-9.0,0.526316,0.0,0.0,0.0,0.0,0.0,0.473684,0.000000
5001713,-10.5,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000

In [3]:
bb_slopes = hf.get_slopes(bb,bb['SK_ID_BUREAU'].unique(),'SK_ID_BUREAU','MONTHS_BALANCE',bb.columns[2:])
bb_slopes.to_csv('bb_slopes.csv',columns = bb_slopes.columns)
bb_slopes = pd.read_csv('bb_slopes.csv')
bb_slopes = bb_slopes.set_index('SK_ID_BUREAU')
bb_slopes.head()

99.952 %
0
Found slopes in Index(['STATUS_0', 'STATUS_1', 'STATUS_2', 'STATUS_3', 'STATUS_4', 'STATUS_5',
       'STATUS_C', 'STATUS_X'],
      dtype='object') grouped by SK_ID_BUREAU with respect to MONTHS_BALANCE

,STATUS_0_slope,STATUS_1_slope,STATUS_2_slope,STATUS_3_slope,STATUS_4_slope,STATUS_5_slope,STATUS_C_slope,STATUS_X_slope
SK_ID_BUREAU,,,,,,,,
5001709,0.000000,0.0,0.0,0.0,0.0,0.0,0.006220,-0.006220
5001710,-0.001029,0.0,0.0,0.0,0.0,0.0,0.017632,-0.016603
5001711,-0.300000,0.0,0.0,0.0,0.0,0.0,0.000000,0.300000
5001712,-0.078947,0.0,0.0,0.0,0.0,0.0,0.078947,0.000000
5001713,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000

In [4]:
bb_weighted = hf.get_weighted(bb,'SK_ID_BUREAU','MONTHS_BALANCE',bb.columns[2:])
bb_weighted.to_csv('bb_weighted.csv',columns = bb_weighted.columns)#, index = bb_weighted.index)
bb_weighted = pd.read_csv('bb_weighted.csv')
bb_weighted = bb_weighted.set_index('SK_ID_BUREAU')
bb_weighted.head()

,STATUS_0_weighted,STATUS_1_weighted,STATUS_2_weighted,STATUS_3_weighted,STATUS_4_weighted,STATUS_5_weighted,STATUS_C_weighted,STATUS_X_weighted
SK_ID_BUREAU,,,,,,,,
5001709,0.000000,0.0,0.0,0.0,0.0,0.0,0.943625,0.056375
5001710,0.060092,0.0,0.0,0.0,0.0,0.0,0.671432,0.268476
5001711,0.663824,0.0,0.0,0.0,0.0,0.0,0.000000,0.336176
5001712,0.413418,0.0,0.0,0.0,0.0,0.0,0.586582,0.000000
5001713,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000

In [5]:
bb = pd.concat([bb_aggs,bb_slopes,bb_weighted],axis=1)
bb.head()

,MONTHS_BALANCE,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X,STATUS_0_slope,...,STATUS_C_slope,STATUS_X_slope,STATUS_0_weighted,STATUS_1_weighted,STATUS_2_weighted,STATUS_3_weighted,STATUS_4_weighted,STATUS_5_weighted,STATUS_C_weighted,STATUS_X_weighted
SK_ID_BUREAU,,,,,,,,,,,,,,,,,,,,,
5001709,-48.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.886598,0.113402,0.000000,...,0.006220,-0.006220,0.000000,0.0,0.0,0.0,0.0,0.0,0.943625,0.056375
5001710,-41.0,0.060241,0.0,0.0,0.0,0.0,0.0,0.578313,0.361446,-0.001029,...,0.017632,-0.016603,0.060092,0.0,0.0,0.0,0.0,0.0,0.671432,0.268476
5001711,-1.5,0.750000,0.0,0.0,0.0,0.0,0.0,0.000000,0.250000,-0.300000,...,0.000000,0.300000,0.663824,0.0,0.0,0.0,0.0,0.0,0.000000,0.336176
5001712,-9.0,0.526316,0.0,0.0,0.0,0.0,0.0,0.473684,0.000000,-0.078947,...,0.078947,0.000000,0.413418,0.0,0.0,0.0,0.0,0.0,0.586582,0.000000
5001713,-10.5,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000

In [6]:
bb.to_csv('bb.csv',columns = bb.columns)
bb = pd.read_csv('bb.csv')
bb.head()

,SK_ID_BUREAU,MONTHS_BALANCE,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X,...,STATUS_C_slope,STATUS_X_slope,STATUS_0_weighted,STATUS_1_weighted,STATUS_2_weighted,STATUS_3_weighted,STATUS_4_weighted,STATUS_5_weighted,STATUS_C_weighted,STATUS_X_weighted
0,5001709,-48.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.886598,0.113402,...,0.006220,-0.006220,0.000000,0.0,0.0,0.0,0.0,0.0,0.943625,0.056375
1,5001710,-41.0,0.060241,0.0,0.0,0.0,0.0,0.0,0.578313,0.361446,...,0.017632,-0.016603,0.060092,0.0,0.0,0.0,0.0,0.0,0.671432,0.268476
2,5001711,-1.5,0.750000,0.0,0.0,0.0,0.0,0.0,0.000000,0.250000,...,0.000000,0.300000,0.663824,0.0,0.0,0.0,0.0,0.0,0.000000,0.336176
3,5001712,-9.0,0.526316,0.0,0.0,0.0,0.0,0.0,0.473684,0.000000,...,0.078947,0.000000,0.413418,0.0,0.0,0.0,0.0,0.0,0.586582,0.000000
4,5001713,-10.5,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000

In [7]:
bur = pd.read_csv('bureau.csv')

bur['bur_f1'] = bur['DAYS_CREDIT_ENDDATE']-bur['DAYS_ENDDATE_FACT']
bur['bur_f2'] = bur['DAYS_CREDIT']-bur['DAYS_CREDIT_ENDDATE']
bur['bur_f3'] = bur['DAYS_CREDIT']-bur['CREDIT_DAY_OVERDUE']
bur['bur_f4'] = bur['AMT_CREDIT_MAX_OVERDUE']/bur['AMT_CREDIT_SUM']
bur['bur_f5'] = bur['AMT_CREDIT_SUM_DEBT']/bur['AMT_CREDIT_SUM_LIMIT']
bur['bur_f6'] = bur['DAYS_CREDIT_UPDATE']-bur['DAYS_CREDIT']
bur['bur_f7'] = bur['AMT_CREDIT_SUM']/bur['AMT_CREDIT_SUM_LIMIT']
    
bur = bur.merge(bb,on='SK_ID_BUREAU',how='left').sort_values(['SK_ID_CURR','DAYS_CREDIT'])

bur_cats = ['CREDIT_ACTIVE','CREDIT_CURRENCY','CREDIT_TYPE']
bur['CREDIT_ACTIVE'] = hf.reduce_cat(bur,'CREDIT_ACTIVE',2,'OTHER')
bur['CREDIT_CURRENCY'] = hf.reduce_cat(bur,'CREDIT_CURRENCY',2,'OTHER')
bur['CREDIT_TYPE'] = hf.reduce_cat(bur,'CREDIT_TYPE',5,'OTHER')
bur = pd.get_dummies(bur)
bur.head()

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,...,CREDIT_ACTIVE_OTHER,CREDIT_CURRENCY_OTHER,CREDIT_CURRENCY_currency 1,CREDIT_CURRENCY_currency 2,CREDIT_TYPE_Car loan,CREDIT_TYPE_Consumer credit,CREDIT_TYPE_Credit card,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_OTHER
248487,100001,5896633,-1572,0,-1329.0,-1328.0,NaN,0,85500.0,0.0,...,0,0,1,0,0,1,0,0,0,0
248485,100001,5896631,-909,0,-179.0,-877.0,NaN,0,279720.0,0.0,...,0,0,1,0,0,1,0,0,0,0
248486,100001,5896632,-879,0,-514.0,-544.0,NaN,0,91620.0,0.0,...,0,0,1,0,0,1,0,0,0,0
248484,100001,5896630,-857,0,-492.0,-553.0,NaN,0,112500.0,0.0,...,0,0,1,0,0,1,0,0,0,0
248488,100001,5896634,-559,0,902.0,NaN,NaN,0,337680.0,113166.0,...,0,0,1,0,0,1,0,0,0,0

In [8]:
bur_aggs_dict = {}
for i in bur.columns[2:]:
    bur_aggs_dict[i] = ['min','max','mean','sum','nunique','count']
bur_aggs = hf.get_aggs_df(bur,'SK_ID_CURR',bur_aggs_dict)

100.0 %

In [10]:
bur_slopes = hf.get_slopes(bur,bur['SK_ID_CURR'].unique(),'SK_ID_CURR','DAYS_CREDIT',bur.columns[3:])
bur_slopes.to_csv('bur_slopes.csv',columns = bur_slopes.columns)
bur_slopes = pd.read_csv('bur_slopes.csv')
bur_slopes = bur_slopes.set_index('SK_ID_CURR')
bur_slopes.head()

99.734 %
0
Found slopes in Index(['CREDIT_DAY_OVERDUE', 'DAYS_CREDIT_ENDDATE', 'DAYS_ENDDATE_FACT',
       'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG', 'AMT_CREDIT_SUM',
       'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT', 'AMT_CREDIT_SUM_OVERDUE',
       'DAYS_CREDIT_UPDATE', 'AMT_ANNUITY', 'bur_f1', 'bur_f2', 'bur_f3',
       'bur_f4', 'bur_f5', 'bur_f6', 'bur_f7', 'MONTHS_BALANCE', 'STATUS_0',
       'STATUS_1', 'STATUS_2', 'STATUS_3', 'STATUS_4', 'STATUS_5', 'STATUS_C',
       'STATUS_X', 'STATUS_0_slope', 'STATUS_1_slope', 'STATUS_2_slope',
       'STATUS_3_slope', 'STATUS_4_slope', 'STATUS_5_slope', 'STATUS_C_slope',
       'STATUS_X_slope', 'STATUS_0_weighted', 'STATUS_1_weighted',
       'STATUS_2_weighted', 'STATUS_3_weighted', 'STATUS_4_weighted',
       'STATUS_5_weighted', 'STATUS_C_weighted', 'STATUS_X_weighted',
       'CREDIT_ACTIVE_Active', 'CREDIT_ACTIVE_Closed', 'CREDIT_ACTIVE_OTHER',
       'CREDIT_CURRENCY_OTHER', 'CREDIT_CURRENCY_currency 1',
       'CREDIT_CURRENCY_currency 2', 'CREDIT_TYPE_Car loan',
       'CREDIT_TYPE_Consumer credit', 'CREDIT_TYPE_Credit card',
       'CREDIT_TYPE_Microloan', 'CREDIT_TYPE_Mortgage', 'CREDIT_TYPE_OTHER'],
      dtype='object') grouped by SK_ID_CURR with respect to DAYS_CREDIT

,CREDIT_DAY_OVERDUE_slope,DAYS_CREDIT_ENDDATE_slope,DAYS_ENDDATE_FACT_slope,AMT_CREDIT_MAX_OVERDUE_slope,CNT_CREDIT_PROLONG_slope,AMT_CREDIT_SUM_slope,AMT_CREDIT_SUM_DEBT_slope,AMT_CREDIT_SUM_LIMIT_slope,AMT_CREDIT_SUM_OVERDUE_slope,DAYS_CREDIT_UPDATE_slope,...,CREDIT_ACTIVE_OTHER_slope,CREDIT_CURRENCY_OTHER_slope,CREDIT_CURRENCY_currency 1_slope,CREDIT_CURRENCY_currency 2_slope,CREDIT_TYPE_Car loan_slope,CREDIT_TYPE_Consumer credit_slope,CREDIT_TYPE_Credit card_slope,CREDIT_TYPE_Microloan_slope,CREDIT_TYPE_Mortgage_slope,CREDIT_TYPE_OTHER_slope
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,0.0,1.962548,0.991610,NaN,0.0,167.642967,223.380185,0.000000,0.0,0.126194,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
100002,0.0,1.733807,1.400800,0.313891,0.0,-96.421894,-69.786443,23.113250,0.0,0.948357,...,0.0,0.0,0.0,0.0,0.0,-0.000575,0.000575,0.0,0.0,0.0
100003,0.0,1.496178,0.848235,0.000000,0.0,256.256485,0.000000,259.225363,0.0,0.915886,...,0.0,0.0,0.0,0.0,0.0,-0.000225,0.000225,0.0,0.0,0.0
100004,0.0,0.232026,0.327887,0.000000,0.0,0.041176,0.000000,0.000000,0.0,0.326797,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
100005,0.0,2.089774,0.000000,0.000000,0.0,449.817998,615.096658,0.000000,0.0,0.331874,...,0.0,0.0,0.0,0.0,0.0,0.003461,-0.003461,0.0,0.0,0.0

In [12]:
bur_weighted = hf.get_weighted(bur,'SK_ID_CURR','DAYS_CREDIT',bur.columns[2:])
bur_weighted.to_csv('bur_weighted.csv',columns = bur_weighted.columns)
bur_weighted = pd.read_csv('bur_weighted.csv')
bur_weighted = bur_weighted.set_index('SK_ID_CURR')
bur_weighted.head()

,DAYS_CREDIT_weighted,CREDIT_DAY_OVERDUE_weighted,DAYS_CREDIT_ENDDATE_weighted,DAYS_ENDDATE_FACT_weighted,AMT_CREDIT_MAX_OVERDUE_weighted,CNT_CREDIT_PROLONG_weighted,AMT_CREDIT_SUM_weighted,AMT_CREDIT_SUM_DEBT_weighted,AMT_CREDIT_SUM_LIMIT_weighted,AMT_CREDIT_SUM_OVERDUE_weighted,...,CREDIT_ACTIVE_OTHER_weighted,CREDIT_CURRENCY_OTHER_weighted,CREDIT_CURRENCY_currency 1_weighted,CREDIT_CURRENCY_currency 2_weighted,CREDIT_TYPE_Car loan_weighted,CREDIT_TYPE_Consumer credit_weighted,CREDIT_TYPE_Credit card_weighted,CREDIT_TYPE_Microloan_weighted,CREDIT_TYPE_Mortgage_weighted,CREDIT_TYPE_OTHER_weighted
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,-604.669921,0.0,329.191036,-332.699467,0.000000,0.0,225684.683732,112544.791608,0.00000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.000000,0.000000,0.0,0.0,0.0
100002,-765.744170,0.0,-115.887173,-386.729594,1133.225017,0.0,108183.598794,34399.810089,5490.31467,0.0,...,0.0,0.0,1.0,0.0,0.0,0.454397,0.545603,0.0,0.0,0.0
100003,-1177.966693,0.0,-189.146646,-612.269688,0.000000,0.0,322377.053374,0.000000,272302.23656,0.0,...,0.0,0.0,1.0,0.0,0.0,0.434349,0.565651,0.0,0.0,0.0
100004,-763.130877,0.0,-464.399648,-498.442695,0.000000,0.0,94523.176964,0.000000,0.00000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.000000,0.000000,0.0,0.0,0.0
100005,-155.756969,0.0,482.989850,-26.826828,0.000000,0.0,222396.294463,198783.638794,0.00000,0.0,...,0.0,0.0,1.0,0.0,0.0,0.781896,0.218104,0.0,0.0,0.0

In [14]:
bur = pd.concat([bur_aggs,bur_slopes,bur_weighted],axis=1)
bur = hf.drop_high_corrs(bur,0.95)
bur.columns = ['bur_'+i for i in bur.columns]
bur.to_csv('bur.csv',columns = bur.columns)
bur = pd.read_csv('bur.csv').set_index('SK_ID_CURR')
bur.head()

Removing 271 columns ['DAYS_CREDIT_count', 'CREDIT_DAY_OVERDUE_sum', 'CREDIT_DAY_OVERDUE_var', 'CREDIT_DAY_OVERDUE_std', 'CREDIT_DAY_OVERDUE_count', 'DAYS_CREDIT_ENDDATE_std', 'DAYS_CREDIT_ENDDATE_nunique', 'DAYS_CREDIT_ENDDATE_count', 'DAYS_ENDDATE_FACT_count', 'AMT_CREDIT_MAX_OVERDUE_mean', 'AMT_CREDIT_MAX_OVERDUE_sum', 'AMT_CREDIT_MAX_OVERDUE_var', 'AMT_CREDIT_MAX_OVERDUE_std', 'CNT_CREDIT_PROLONG_sum', 'CNT_CREDIT_PROLONG_std', 'CNT_CREDIT_PROLONG_count', 'AMT_CREDIT_SUM_nunique', 'AMT_CREDIT_SUM_count', 'AMT_CREDIT_SUM_DEBT_sum', 'AMT_CREDIT_SUM_DEBT_std', 'AMT_CREDIT_SUM_DEBT_count', 'AMT_CREDIT_SUM_LIMIT_sum', 'AMT_CREDIT_SUM_LIMIT_std', 'AMT_CREDIT_SUM_OVERDUE_sum', 'AMT_CREDIT_SUM_OVERDUE_std', 'AMT_CREDIT_SUM_OVERDUE_count', 'DAYS_CREDIT_UPDATE_nunique', 'DAYS_CREDIT_UPDATE_count', 'AMT_ANNUITY_sum', 'bur_f1_count', 'bur_f2_min', 'bur_f2_mean', 'bur_f2_var', 'bur_f2_std', 'bur_f2_nunique', 'bur_f2_count', 'bur_f3_min', 'bur_f3_max', 'bur_f3_mean', 'bur_f3_sum', 'bur_f3_var', 'bur_f3_std', 'bur_f3_nunique', 'bur_f3_count', 'bur_f4_mean', 'bur_f4_sum', 'bur_f4_var', 'bur_f4_std', 'bur_f4_nunique', 'bur_f4_count', 'bur_f5_sum', 'bur_f5_var', 'bur_f5_std', 'bur_f6_var', 'bur_f6_nunique', 'bur_f6_count', 'bur_f7_min', 'bur_f7_mean', 'bur_f7_sum', 'bur_f7_var', 'bur_f7_std', 'bur_f7_nunique', 'bur_f7_count', 'MONTHS_BALANCE_max', 'MONTHS_BALANCE_count', 'STATUS_0_count', 'STATUS_1_count', 'STATUS_2_std', 'STATUS_2_count', 'STATUS_3_std', 'STATUS_3_count', 'STATUS_4_std', 'STATUS_4_nunique', 'STATUS_4_count', 'STATUS_5_nunique', 'STATUS_5_count', 'STATUS_C_nunique', 'STATUS_C_count', 'STATUS_X_count', 'STATUS_0_slope_nunique', 'STATUS_0_slope_count', 'STATUS_1_slope_nunique', 'STATUS_1_slope_count', 'STATUS_2_slope_nunique', 'STATUS_2_slope_count', 'STATUS_3_slope_std', 'STATUS_3_slope_nunique', 'STATUS_3_slope_count', 'STATUS_4_slope_nunique', 'STATUS_4_slope_count', 'STATUS_5_slope_nunique', 'STATUS_5_slope_count', 'STATUS_C_slope_nunique', 'STATUS_C_slope_count', 'STATUS_X_slope_var', 'STATUS_X_slope_nunique', 'STATUS_X_slope_count', 'STATUS_0_weighted_min', 'STATUS_0_weighted_max', 'STATUS_0_weighted_mean', 'STATUS_0_weighted_sum', 'STATUS_0_weighted_var', 'STATUS_0_weighted_std', 'STATUS_0_weighted_nunique', 'STATUS_0_weighted_count', 'STATUS_1_weighted_min', 'STATUS_1_weighted_max', 'STATUS_1_weighted_mean', 'STATUS_1_weighted_sum', 'STATUS_1_weighted_var', 'STATUS_1_weighted_std', 'STATUS_1_weighted_nunique', 'STATUS_1_weighted_count', 'STATUS_2_weighted_min', 'STATUS_2_weighted_max', 'STATUS_2_weighted_mean', 'STATUS_2_weighted_sum', 'STATUS_2_weighted_var', 'STATUS_2_weighted_std', 'STATUS_2_weighted_nunique', 'STATUS_2_weighted_count', 'STATUS_3_weighted_min', 'STATUS_3_weighted_max', 'STATUS_3_weighted_mean', 'STATUS_3_weighted_sum', 'STATUS_3_weighted_var', 'STATUS_3_weighted_std', 'STATUS_3_weighted_nunique', 'STATUS_3_weighted_count', 'STATUS_4_weighted_min', 'STATUS_4_weighted_max', 'STATUS_4_weighted_mean', 'STATUS_4_weighted_sum', 'STATUS_4_weighted_std', 'STATUS_4_weighted_nunique', 'STATUS_4_weighted_count', 'STATUS_5_weighted_min', 'STATUS_5_weighted_max', 'STATUS_5_weighted_mean', 'STATUS_5_weighted_sum', 'STATUS_5_weighted_var', 'STATUS_5_weighted_std', 'STATUS_5_weighted_nunique', 'STATUS_5_weighted_count', 'STATUS_C_weighted_min', 'STATUS_C_weighted_max', 'STATUS_C_weighted_mean', 'STATUS_C_weighted_sum', 'STATUS_C_weighted_var', 'STATUS_C_weighted_std', 'STATUS_C_weighted_nunique', 'STATUS_C_weighted_count', 'STATUS_X_weighted_min', 'STATUS_X_weighted_max', 'STATUS_X_weighted_mean', 'STATUS_X_weighted_sum', 'STATUS_X_weighted_var', 'STATUS_X_weighted_std', 'STATUS_X_weighted_nunique', 'STATUS_X_weighted_count', 'CREDIT_ACTIVE_Active_std', 'CREDIT_ACTIVE_Active_count', 'CREDIT_ACTIVE_Closed_min', 'CREDIT_ACTIVE_Closed_max', 'CREDIT_ACTIVE_Closed_mean', 'CREDIT_ACTIVE_Closed_sum', 'CREDIT_ACTIVE_Closed_var', 'CREDIT_ACTIVE_Closed_std', 'CREDIT_ACTIVE_Closed_nunique', 'CREDIT_ACTIVE_Closed_count', 'CREDIT_ACTIVE_OTHER_sum', 'CREDIT_ACTIVE_OTHER_var', 'CREDIT_ACTIVE_OTHER_std', 'CREDIT_ACTIVE_OTHER_nunique', 'CREDIT_ACTIVE_OTHER_count', 'CREDIT_CURRENCY_OTHER_sum', 'CREDIT_CURRENCY_OTHER_std', 'CREDIT_CURRENCY_OTHER_nunique', 'CREDIT_CURRENCY_OTHER_count', 'CREDIT_CURRENCY_currency 1_sum', 'CREDIT_CURRENCY_currency 1_std', 'CREDIT_CURRENCY_currency 1_nunique', 'CREDIT_CURRENCY_currency 1_count', 'CREDIT_CURRENCY_currency 2_min', 'CREDIT_CURRENCY_currency 2_mean', 'CREDIT_CURRENCY_currency 2_std', 'CREDIT_CURRENCY_currency 2_nunique', 'CREDIT_CURRENCY_currency 2_count', 'CREDIT_TYPE_Car loan_std', 'CREDIT_TYPE_Car loan_nunique', 'CREDIT_TYPE_Car loan_count', 'CREDIT_TYPE_Consumer credit_std', 'CREDIT_TYPE_Consumer credit_count', 'CREDIT_TYPE_Credit card_std', 'CREDIT_TYPE_Credit card_count', 'CREDIT_TYPE_Microloan_std', 'CREDIT_TYPE_Microloan_nunique', 'CREDIT_TYPE_Microloan_count', 'CREDIT_TYPE_Mortgage_sum', 'CREDIT_TYPE_Mortgage_var', 'CREDIT_TYPE_Mortgage_std', 'CREDIT_TYPE_Mortgage_nunique', 'CREDIT_TYPE_Mortgage_count', 'CREDIT_TYPE_OTHER_var', 'CREDIT_TYPE_OTHER_std', 'CREDIT_TYPE_OTHER_nunique', 'CREDIT_TYPE_OTHER_count', 'bur_f2_slope', 'bur_f3_slope', 'bur_f6_slope', 'STATUS_0_weighted_slope', 'STATUS_1_weighted_slope', 'STATUS_2_weighted_slope', 'STATUS_3_weighted_slope', 'STATUS_4_weighted_slope', 'STATUS_5_weighted_slope', 'STATUS_C_weighted_slope', 'STATUS_X_weighted_slope', 'CREDIT_ACTIVE_Closed_slope', 'CREDIT_CURRENCY_currency 2_slope', 'DAYS_CREDIT_weighted', 'CREDIT_DAY_OVERDUE_weighted', 'DAYS_CREDIT_ENDDATE_weighted', 'AMT_CREDIT_MAX_OVERDUE_weighted', 'CNT_CREDIT_PROLONG_weighted', 'AMT_CREDIT_SUM_weighted', 'AMT_CREDIT_SUM_DEBT_weighted', 'AMT_CREDIT_SUM_OVERDUE_weighted', 'DAYS_CREDIT_UPDATE_weighted', 'bur_f2_weighted', 'bur_f3_weighted', 'bur_f4_weighted', 'bur_f6_weighted', 'bur_f7_weighted', 'MONTHS_BALANCE_weighted', 'STATUS_0_weighted', 'STATUS_1_weighted', 'STATUS_2_weighted', 'STATUS_3_weighted', 'STATUS_4_weighted', 'STATUS_5_weighted', 'STATUS_C_weighted', 'STATUS_X_weighted', 'STATUS_0_slope_weighted', 'STATUS_1_slope_weighted', 'STATUS_2_slope_weighted', 'STATUS_3_slope_weighted', 'STATUS_4_slope_weighted', 'STATUS_5_slope_weighted', 'STATUS_C_slope_weighted', 'STATUS_X_slope_weighted', 'STATUS_0_weighted_weighted', 'STATUS_1_weighted_weighted', 'STATUS_2_weighted_weighted', 'STATUS_3_weighted_weighted', 'STATUS_4_weighted_weighted', 'STATUS_5_weighted_weighted', 'STATUS_C_weighted_weighted', 'STATUS_X_weighted_weighted', 'CREDIT_ACTIVE_Active_weighted', 'CREDIT_ACTIVE_Closed_weighted', 'CREDIT_ACTIVE_OTHER_weighted', 'CREDIT_CURRENCY_OTHER_weighted', 'CREDIT_CURRENCY_currency 1_weighted', 'CREDIT_CURRENCY_currency 2_weighted', 'CREDIT_TYPE_Car loan_weighted', 'CREDIT_TYPE_Consumer credit_weighted', 'CREDIT_TYPE_Credit card_weighted', 'CREDIT_TYPE_Microloan_weighted', 'CREDIT_TYPE_Mortgage_weighted', 'CREDIT_TYPE_OTHER_weighted']

,bur_DAYS_CREDIT_min,bur_DAYS_CREDIT_max,bur_DAYS_CREDIT_mean,bur_DAYS_CREDIT_sum,bur_DAYS_CREDIT_var,bur_DAYS_CREDIT_std,bur_DAYS_CREDIT_nunique,bur_CREDIT_DAY_OVERDUE_min,bur_CREDIT_DAY_OVERDUE_max,bur_CREDIT_DAY_OVERDUE_mean,...,bur_CREDIT_TYPE_Consumer credit_slope,bur_CREDIT_TYPE_Credit card_slope,bur_CREDIT_TYPE_Microloan_slope,bur_CREDIT_TYPE_Mortgage_slope,bur_CREDIT_TYPE_OTHER_slope,bur_DAYS_ENDDATE_FACT_weighted,bur_AMT_CREDIT_SUM_LIMIT_weighted,bur_AMT_ANNUITY_weighted,bur_bur_f1_weighted,bur_bur_f5_weighted
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,-1572,-49,-735.000000,-5145,240043.666667,489.942514,7,0,0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,-332.699467,0.00000,4622.895770,85.425431,inf
100002,-1437,-103,-874.000000,-6992,186150.000000,431.451040,8,0,0,0.0,...,-0.000575,0.000575,0.0,0.0,0.0,-386.729594,5490.31467,0.000000,153.875872,inf
100003,-2586,-606,-1400.750000,-5603,827783.583333,909.826128,4,0,0,0.0,...,-0.000225,0.000225,0.0,0.0,0.0,-612.269688,272302.23656,0.000000,14.333512,0.000000
100004,-1326,-408,-867.000000,-1734,421362.000000,649.124025,2,0,0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,-498.442695,0.00000,0.000000,34.043047,0.000000
100005,-373,-62,-190.666667,-572,26340.333333,162.297053,3,0,0,0.0,...,0.003461,-0.003461,0.0,0.0,0.0,-26.826828,0.00000,1858.902881,-1.090521,inf